/* 
SETTINGS 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    ;
}

img {
    width: 100%;
    display: block;
}

ul,
ol,
li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


/* 
DEBUG 
*/


.app.debug {
    border: 1px solid orange;
    align-items: stretch;
}


.debug {
    border: 1px solid purple;
}

/* 
UTILITY CLASS 
*/


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.justifycon-between {
    justify-content: space-between;
}

.justifycon-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.grow-1 {
    flex-grow: 1;
}

.wrap{
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
}

.col-2{
    width: calc(100% / 6);
}

/* 
COLOR PALETTE 
*/


:root {
    --Light-Green: #ADFF2F;
    --Grey: #A3A3A3;
    --Black: #000000;
    --Dark-grey: #282828;
    --Dark-blue: #141922;
    --Light-Gray-Toolbar: #5f5d5d;
    --progress: 25%;

}


/* 
MAIN 
*/


.main-container {
    height: 100vh;
}

.app {
    flex-grow: 1;
    overflow: hidden;
}


/* 
MAIN-APP 
*/


.app-content {
    background-color: var(--Dark-blue);
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.main-app{
    overflow: auto;
}

.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 113px;
    padding-left: 26px;
    padding-right: 26px;
}

.menu-categories{
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 36px;
    justify-content: center;
}

.menu-categories-item{
    color: var(--Light-Gray-Toolbar);
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
}

.menu-categories-item.active{
    position: relative;
}

.menu-categories-item.active::after{
    content: '';
    height: 2px;
    width: 33%;
    display: block;
    background-color: var(--Light-Green);
    position: absolute;
    bottom: -5px;
    left: 33%;

}

.playlist-category{
 margin: 20px 12px;
}

.playlist-category-title{
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;

}

.playlist-category-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.playlist-category-items.col-2{
    width: calc((100% - 50px) / 6);
}

/* 
SIDE 
*/


.sidebar {
    background-color: var(--Black);
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist {
    margin-bottom: auto;
    color: #6E6E6E;
}

.side-toolbar-item {
    color: #6E6E6E;
    font-weight: 600;
    font-size: 14px;
    width: 50px;
    font-size: 14px;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-home {
    position: relative;
}

.side-icon {
    width: 35%;
}

.side-home::after {
    content: "";
    height: 100%;
    width: 3px;
    left: 0%;
    background-color: var(--Light-Green);
    display: block;
    position: absolute;
    top: 0%;

}

.logo {
    width: 50px;
    justify-content: center;
    display: flex;
}

.logo-sm {
    width: 40px;
    aspect-ratio: 1;
    padding: 0 auto;
    padding-top: 6px;
    padding-bottom: 8px;
}

.logo-lg,
.logo-sm {
    display: inline-block;
}

.logo-lg {
    display: none;
}




.add-button {
    background-color: var(--Grey);
    color: #000000;
    font-size: 18px;
    margin-right: 4px;
    padding: 8px 10px;
}

.sidebar-playlist-item {
    margin: 14px 12px;
    color: #6E6E6E;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-section-title {
    color: white;
    margin: 14px 12px;
    font-weight: 700;
}

.playlist span,
.sidebar-cta span,
.sidebar-cta p,
.profile p {
    display: inline-block;
}

.sidebar-cta p {
    font-size: 10px;
    font-weight: 600;
}

.sidebar-cta {
    color: #6E6E6E;
    width: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.download::after {
    content: "";
    background-color: #6E6E6E;
    width: 100%;
    height: 1px;
    display: block;
}

.download-button {
    background-color: #000000;
    border: 1px solid #6E6E6E;
    border-radius: 999px;
    aspect-ratio: 1;
    padding: 0 2px;
    font-size: 5px;
    margin-left: 2px;
}

.profile {
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 18px;
}

.profile-svg {
    background-color: var(--Grey);
    border-radius: 999px;
    width: 100%;
    aspect-ratio: 1;

}

.profile-name {
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.sidebar-footer {
    margin-top: auto;
}

.side-icon-text,
.playlist,
.sidebar-footer p,
.download::after {
    display: none;
}

.download{
    margin: 0 12px 
}


/* 
TOOLBAR 
*/


.toolbar {
    height: 90px;
    flex-shrink: 0;
    background-color: var(--Dark-grey);
    color: white;
    overflow: hidden;
}

.toolbar-img {
    width: 28px;
    aspect-ratio: 1;
    flex-shrink: 0;
}

.toolbar-container {
    height: 100%;
}

.toolbar-left {
    width: 25%;
    padding: 0 10px;
    gap: 14px;

}

.toolbar-icon-container {
    gap: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.time-bar {
    margin: 0 10px;
    width: 80%;
    background-color: #5f5d5d;
    position: relative;
}

.volume-bar {
    margin-right: 6px;
    width: 80%;
    background-color: #5f5d5d;
    position: relative;
    flex-grow: 1;

}

.toolbar-center {
    width: 50%;
}

.bar {
    width: var(--progress);
    height: 4px;
    border-radius: 999px;
    background-color: #A3A3A3;
}

.artist-name {
    font-weight: 700;
    font-size: 12px;
}

.song-name {
    font-size: 10px;
    font-weight: 600;
    color: var(--Grey);
}


.toolbar-icon-left {
    color: var(--Grey);
}

.play-icon {
    font-size: 32px;
    margin: 0 10px;
}

.toolbar-rigth {
    gap: 5px;
    width: 25%;
}


.time-bar-container {
    width: 70%;
}

.album-preview {
    gap: 10px;
}

.album-controls {
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;
}

.time {
    font-size: 10px;
}

.volume-icon {
    font-size: 12px;
}

.progress {
    height: 8px;
    width: 8px;
    border-radius: 999px;
    background-color: white;
    position: absolute;
    left: var(--progress);
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.time-bar:hover .progress {
    display: block;
}

.time-bar:hover .bar {
    background-color: var(--Light-Green);
}

.volume-bar:hover .progress {
    display: block;
}

.volume-bar:hover .bar {
    background-color: var(--Light-Green);
}




/* 
MEDIA QUERY 
*/

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
    .toolbar-left,
    .toolbar-rigth {
        width: 230px;
    }

    .toolbar-img {
        width: 42px;
    }

    .toolbar-rigth {
        gap: 10px;
    }

    .toolbar-icon-container {
        gap: 24px;
    }

    .logo-lg {
        display: block;
        width: 130px;
    }

    .logo-sm {
        display: none;
    }

    .sidebar {
        align-items: flex-start;
    }

    .side-toolbar-item {
        width: 230px;
        padding: 6px 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .logo {
        width: 206px;
        padding: 24px 0px 24px 14px;
        justify-content: flex-start;
    }

    .download-cta {
    display: flex;
    align-items: center;
    }

    .download-button {
        margin-right: 6px;
    }
    
    .profile {
        margin: 10px 12px;
        width: 206px;
        justify-content: flex-start;
    }

    .profile-img{
        width: 25px;
        margin-right: 10px; 
    }
    .side-icon-text{
        display: inline;
    }

    .sidebar {
        width: 250px;
        overflow: hidden;
        align-items: flex-start;
    }

    .playlist{
        display: block;
    }

    .side-icon{
        width: 15%;
    }

    .sidebar-footer p,
    .download::after {
    display: block;
    }

    .sidebar-cta{
        width: 206px;
        justify-content: flex-start;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .volume-icon {
        font-size: 16px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}