/* 
SETTINGS 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;;
}

img {
    max-width: 100%;
}

ul,
ol,
li {
    text-decoration: none;
}

a {
    text-decoration: none;
}


/* 
DEBUG 
*/


.debug {
    border: 1px solid orange;
    padding: 10px;
}


/* 
UTILITY CLASS 
*/


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.justifycon-between {
    justify-content: space-between;
}

.justifycon-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


/* 
COLOR PALETTE 
*/


:root {
    --Light-Green: #ADFF2F;
    --Grey: #A3A3A3;
    --Black: #000000;
    --Dark-grey: #282828;
    --Dark-blue: #141922;
    --Light-Gray-Toolbar: #5f5d5d;

}


/* 
MAIN 
*/


.main-container {
    max-width: 100%;
    height: 100vh;
}

.app {
    flex-grow: 1;
}

.app-container
/* 
MAIN-APP 
*/


.app-content {
    background-color: var(--Dark-blue);
}


/* 
SIDE 
*/


.sidebar {
    background-color: var(--Black);
}


/* 
TOOLBAR 
*/


.toolbar {
    height: 90px;
    flex-shrink: 0;
    background-color: var(--Dark-grey);
    color: white;
}

.toolbar-img {
    width: 38px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.toolbar-container {
    padding: 0 10px;
    height: 100%;
}

.toolbar-left {
    flex-shrink: 0;
    padding: 14px 0px;

}

.toolbar-icon-container {
    gap: 24px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.time-bar{
    margin: 0 10px;
    max-width: 80%;
}

.toolbar-center{
    max-width: 400px;

}

.bar {
    max-width: 100%;
    height: 4px;
    background-color: #5f5d5d;
    position: relative;
    border-radius: 20px;
}

.bar::after {
    content: '';
    width: 25%;
    height: 100%;
    background-color: var(--Grey);
    z-index: 2;
    position: absolute;
    left: 0;
    border-radius: 20px;
}

.artist-name{
    font-weight: 700;
    font-size: 14px;
}

.song-name{
    font-size: 10px;
    font-weight: 600;
    color: var(--Light-Gray-Toolbar);
}

.music-info{
    padding-right: 20px;
}

.toolbar-icon-left{
    color: var(--Light-Gray-Toolbar);
    padding: 0px 8px;
}

.play-icon{
    font-size: 32px;
    margin: 0 10px;
}

.toolbar-rigth{
    gap: 10px;
}

.toolbar-rigth .bar{
    max-width: 40%;
}

/* 
MEDIA QUERY 
*/